<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Sample App | <%= @title %>
		</title>
		<%= csrf_meta_tag %>
		<!-- here the 'styleshets' is the partial in rails, it is the '_stylesheets' file that this link refers to -->
		<%= render 'layouts/stylesheets' %>

	</head>


<body>
	<div class= "container">
		<%= render 'layouts/header' %> 
		<section class = "round">
				<%= yield %>
		</section>
		<%=  render 'layouts/footer'%>
	
	</div>
</body>